.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 60px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Hover nhẹ cho xịn */
.logo img:hover {
  transform: scale(1.05);
}