@media (max-width: 768px) {

  .navbar {
    display: none;
  }

  .header-container {
    height: 60px;
  }

  .dropdown-menu {
    width: 300px;
  }

  .region-list {
    width: 45%;
  }

  .cinema-list {
    width: 55%;
  }

}