@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* ===== COMPONENTS ===== */
@layer components {

  /* Input mặc định */
  .input {
    @apply w-full border px-4 py-3 rounded outline-none
    focus:border-[#fc8905];
  }

  /* Input auth */
  .input-auth {
    @apply w-full border rounded-md px-3 py-2 mt-1 outline-none
    focus:border-[#fc8905];
  }

  /* Button primary */
  .btn-primary {
    @apply w-full bg-[#fc8905] text-white py-3 rounded
    font-semibold hover:opacity-90 transition;
  }

  /* Button auth (màu cinema nhạt hơn) */
  .btn-auth {
    @apply w-full bg-[#d5977b] text-white py-2 rounded-md
    font-semibold hover:opacity-90 transition;
  }

  /* Error text */
  .error {
    @apply text-red-500 text-sm;
  }

  /* Icon show password */
  .eye-icon {
    @apply absolute right-3 top-[38px] cursor-pointer
    text-gray-500 hover:text-gray-700;
  }

  /* Nếu muốn dùng chung cho mọi input password */
  .eye {
    @apply absolute right-3 top-1/2 -translate-y-1/2
    cursor-pointer text-gray-500;
  }
}


/* ===== UTILITIES ===== */
@layer utilities {

  .animate-fade {
    animation: fade 0.25s ease-in;
  }

}

/* ===== KEYFRAME ===== */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
  }
}
